{% extends "base.twig" %}
{% block title %}Trainings{% endblock %}
{% block body %}
    <h1>Your trainings:</h1>
    <hr>
    {% for training in trainings %}
        <div class="row">
            <div class="col-md-6">
                <h2 class="gh-training-name">{{ training.name }}</h2>
            </div>        
            <div class="col-md-3">
                <a class="gh-edit-training-button btn btn-primary" href="{{ path('training_edit', {'id': training.id}) }}">
                    Edit
                </a>
            </div>
            <div class="col-md-3">
                <a class="gh-delete-training-button btn btn-danger" href="{{ path('training_delete', {'id': training.id}) }}">
                    Delete
                </a>
            </div>
        </div>
        <div class="row">
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>name</th>
                            <th>kg</th>
                            <th>rep.</th>
                            <th>ser.</th>
                            <th>break</th>
                            <th>range</th>
                            <th>action</th>
                        </tr>
                    </thead>
                    {% for excercise in training.excercises %}
                        <tr>
                            <td class="gh-excercise-name">{{ excercise.name }}</td>
                            <td>{{ excercise.weight }}</td>
                            <td>{{ excercise.repeats }}</td>
                            <td>{{ excercise.series }}</td>
                            <td>{{ excercise.breakTime }}</td>
                            <td>{{ excercise.min }} - {{ excercise.max }}</td>
                            <td>
                                <a class="gh-edit-excercise-button btn btn-primary" href="{{ path('excercise_edit', {'id': excercise.id}) }}">
                                    Edit
                                </a>
                                <a class="gh-delete-excercise-button btn btn-danger" href="{{ path('excercise_delete', {'id': excercise.id}) }}">
                                    Delete
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endfor %}
    <hr>
    <div class="row">
        <div class="col-md-4"><a class="gh-add-training-button btn btn-success" href="{{ path('training_new') }}">Add Training</a></div>
        <div class="col-md-4"><a class="gh-add-excercise-button btn btn-success" href="{{ path('excercise_new') }}">Add Excercise</a></div>
        <div class="col-md-4"><a class="btn btn-secondary" href="{{ path('home') }}">Back</a></div>
    </div>
{% endblock %}